{% extends "layout.html" %}

{% block content %}
<div id='question' class='container'>

	<div class='row'>
		<div class='col audio'>
			<h6>Sample A</h6>
			<audio controls>	
			  <source src="{{ url_for('.get_results', path=paths[0]) }}" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
		</div>	
		<div class='col audio'>
			<h6>Sample B</h6>
			<audio controls>	
			  <source src="{{ url_for('.get_results', path=paths[1]) }}" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
		</div>
	</div>

	<form method='post'>
		{{ form.csrf_token }}	

		{% if section == 1%}
			<h4>1) How similar does Sample B sound to a guitar?</h4>		
		{% elif section == 2%}
			<h4>1) How similar does Sample B sound to a piano?</h4>		
		{% endif %}

		<div class="input-group">
			{% for field in form.style %}
				<div class="form-control input-group-text">
					{{ field() }}
				</div>
			{% endfor %} 
		</div>		
		<div class='likert-label-row'>
			{% for field in form.style %}
				<div class='likert-label-col'>
					{{field.label}}
				</div> 
			{% endfor %} 
		</div>
		
		<h4>2) How similar does Sample B sound to Sample A?</h4>
		<div class="input-group">
			{% for field in form.content %}
				<div class="form-control input-group-text">
					{{ field() }}
				</div>
			{% endfor %} 
		</div>		
		<div class='likert-label-row'>
			{% for field in form.content %}
				<div class='likert-label-col'>
					{{field.label}}
				</div> 
			{% endfor %} 
		</div>
		<div class='row'>
			<button type="submit" class="btn btn-primary btn-lg btn-main">Submit</button>
		</div>
	</form>	
</div>
{% endblock %}
