{% extends 'layout.html' %}

{% block content %}
<div class='container'>
	<div id='text'>
	</div>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	<form method='post'>
		{{ form.csrf_token }}	
		<div class="input-group">
			{% for field in form.likert %}
				<div class="form-control input-group-text">
					{{ field() }}
				</div>
			{% endfor %} 
		</div>		
		<div class='likert-label-row'>
			{% for field in form.likert %}
				<div class='likert-label-col'>
					{{field.label}}
				</div> 
			{% endfor %} 
		</div>
		<div class='row'>
			<button type="submit" class="btn btn-primary btn-lg btn-main">Submit</button>
		</div>
	</form>	
</div>
{% endblock %}
