{% extends 'layout.html' %}

{% block content %}
<div class='container'>
	{% for field, errors in form.errors.items() %}
		<div class="alert alert-danger" role="alert">
			{% for error in errors %}
				<span>Field {{ field }}: {{error}}</span>
			{% endfor %}
		</div>	
	{% endfor %}
	<div id='text'>		
		<h1 class='display-4 text-center'>Section 1</h1>
		<p>Here you will be presented with 30 pairs of sound clips. We ask you to listen to and compare the two sound clips, and answer the following two questions:</p>
		<ul>
			<li>Which of the two clips more chilled?</li>
			<li>How similar do the two clips sound?</li>
		</ul>
		<p>For the first question you will be given two choices, and you can choose the one that sounds more chilled to your taste. For the latter, you will be given a Likert scale, from 'Very Different' to 'Very Simliar'; please choose the option that describes the two clips best. You can listen to both clips as many times as you require to make your choice.</p>

		<p>To give you a better sense of a chill song, we have prepared samples from a curated playlist of chill music. (Many thanks to MellowBeatSeaker; please go subscribe on his channel!) We recommend you to take a listen to the clips below to aid your judgement of chillness.</p>

	</div>	
	<form method='post'>
		{{ form.csrf_token }}	
		<div class="input-group">
			{% for field in form.likert %}
				<div class="form-control input-group-text">
					{{ field() }}
				</div>
			{% endfor %} 
		</div>		
		<div class='likert-label-row'>
			{% for field in form.likert %}
				<div class='likert-label-col'>
					{{field.label}}
				</div> 
			{% endfor %} 
		</div>
		<div class='row'>
			<button type="submit" class="btn btn-primary btn-lg btn-main">Submit</button>
		</div>
	</form>	
</div>
{% endblock %}
